Notebook prepared by Muhammad Sohail Abbas

# The Neuron Gorge
# https://sites.google.com/view/theneurongorge

# PAI Lab 03

## Outline
* Default and Keyword Arguements
* Python Classes
* Multi Dimensional Lists
* Tuple
* Dictionaries
* Lambda Function
* File Reading

## Multi Dimensional Lists

In [6]:
# 2D List
data_list = [[2,5,7,4,5,1,11,2,"5"],
             ['1',11,2,"5"]]
print(data_list)

[[2, 5, 7, 4, 5, 1, 11, 2, '5'], ['1', 11, 2, '5']]

In [5]:
for i in data_list:
    for j in i:
        print(j)

2
5
7
4
5
1
11
2
5
1
11
2
5

In [7]:
# 3D List
data_list = [[[2,5,7,4,5,1,11,2,"5"],
              ['1',11,2,"5"]],
            
             [[2,5,7,4,5,1,11,2,"5"],
              ['1',11,2,"5"]]]
print(data_list)

[[[2, 5, 7, 4, 5, 1, 11, 2, '5'], ['1', 11, 2, '5']], [[2, 5, 7, 4, 5, 1, 11, 2, '5'], ['1', 11, 2, '5']]]

## Tuple
* Immutable

In [17]:
# Tuple
# Tuple items are ordered, unchangeable, and allow duplicate values.
data_tuple = ("apple","apple", "banana", "cherry")
print(data_tuple)

('apple', 'apple', 'banana', 'cherry')

## Dictionary
* key-value pair

In [36]:
# Dictionary
data_dict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(data_dict)
print(data_dict['brand'])

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
Ford

In [25]:
# Nested Dictionary
data_dict = {
    "brand": {"min":"Ford","main":"Fordeign"},
    "model": "Mustang",
    "year": 1964
}
print(data_dict)
print(data_dict['brand'])
print(data_dict['brand']['min'])

{'brand': {'min': 'Ford', 'main': 'Fordeign'}, 'model': 'Mustang', 'year': 1964}
{'min': 'Ford', 'main': 'Fordeign'}
Ford

In [26]:
# Dictionary with tuples in keys
data_dict = {
    ("name","brand"): "Ford",
    ("model", "brand"): "Mustang",
    "year": 1964
}
print(data_dict)
print(data_dict[('model','brand')])

{('name', 'brand'): 'Ford', ('model', 'brand'): 'Mustang', 'year': 1964}
Mustang

## Lambda Functions

In [40]:
# simple function
def add(a):
  return a + 10

add(5)

15

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

In [41]:
x = lambda a : a + 10
x(5)

15

In [42]:
x = lambda a, b : a * b
x(5, 6)

30

## Python Class

In [19]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def print_name(self):
    print(self.name)

In [20]:
p1 = Person("Sohail", 25)

print(p1.name)
print(p1.age)
p1.print_name()

Sohail
25
Sohail

## File Reading

The key function for working with files in Python is the open() function.

The open() function takes two parameters; filename, and mode.

In addition you can specify if the file should be handled as binary or text mode

"t" - Text - Default value. Text mode

In [18]:
f = open("Strings.txt")

In [19]:
f = open("Strings.txt", "rt")

Because "r" for read, and "t" for text are the default values, you do not need to specify them.

In [20]:
f = open("Strings.txt", "rt",encoding="utf-8")
text = []
# loop through each line
for line in f.readlines():
    text.append(line.strip())
    
print(text[:5])

['A', '', '', '', 'A-  prefix (also an- before a vowel sound) not, without (amoral). [greek]']

For File writing and deletion visit [Documentation](https://www.w3schools.com/python/python_file_write.asp)

# Lab Task

## Prime Number Checker

Write a function that checks whether a given positive integer is a prime number. Ask the user for an input integer and display whether it is prime or not.

In [ ]:
# YOUR CODE HERE

## Phone Book
* Create a dictionary representing a phone book with names and phone numbers. Implement functions to add, delete, and search for entries in the phone book.

In [ ]:
# YOUR CODE HERE

## Student Record
* Create a dictionary to store information about multiple students. Each student's data should include name, age, and a list of their favorite subjects. Write a function to display the subjects that all students have in common. (nested dictionary)

In [ ]:
# YOUR CODE HERE

## Best Student
* Create two tuples representing lists of students (e.g., students in two different classes). Write a function to merge the two tuples into a single tuple.

In [ ]:
# YOUR CODE HERE

## Element Comparison
* Create two tuples of numbers. Write a function to compare the two tuples element-wise and return a tuple indicating which elements are greater, smaller, or equal.

In [ ]:
# YOUR CODE HERE

## Map
* Create a dictionary where the keys are tuples representing (latitude, longitude) coordinates, and the values are city names. Implement a function to find the city name closest to a given set of coordinates.

In [ ]:
# YOUR CODE HERE

## Library Catalog System

* Build a library catalog system that keeps track of books, authors, and their availability using dictionaries, lists, and tuples.

* Create a dictionary where the keys are authors' names, and the values are lists of tuples. Each tuple represents a book with details (e.g., title, publication year, availability status).

### Implement functions to:
* Add new books to the catalog.
* Mark a book as borrowed or returned.
* Display a list of books by a specific author.
* Find and display the oldest and newest books in the catalog.
* List books that are currently available for borrowing.

In [ ]:
# YOUR CODE HERE

## apping Celsius to Fahrenheit

* Create a list of temperatures in Celsius and use a lambda function to convert them to Fahrenheit.

In [ ]:
# YOUR CODE HERE

## Create a Book Class

Create a Book class with attributes for title, author, and price. Implement a method to display book information.

In [ ]:
# YOUR CODE HERE

## Find longest word from file "Strings.txt"

In [125]:
# YOUR CODE HERE

## Enlist all words starting with letter L or M (upper or lower case)

In [ ]:
# YOUR CODE HERE